.tag-item {
    width: fit-content;
    height: 24px;
    padding: 0 12px;
    border: solid 1px red;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.selected-item {
    background-color: red;
}

.genres-list {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    gap: 10px;
}