/* Input */
.input-container {
    max-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-icon {
    color: #000000;
    opacity: 0.4;
    margin-right: 8px;
}

.input {
    border: none;
    border-bottom: solid 1px #C7254E;
    height: 22px;
    width: 200px;
    background-color: #2C2C2C;
    color: white
}

input:focus {
    outline: none;
}

/* SelectInput */
.select-container {
    color: #efefef;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.select-label {
    color: #efefef;
    background-color: #2e2e2e;
}

.select {
    appearance: none;
    background-color: #2C2C2C;
    color: #efefef;
    border: none;
    border-bottom: solid 1px #C7254E;
    height: 22px;
    padding: 0;
    cursor: pointer;
    width: 100%;
}

.select:focus {
    outline: none;
}


/* Button Style */
.button {
    background-color: #c00909;
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    color: #efefef;
}

.button:hover {
    background-color: #e53b3b;
    transition: background-color ease-in-out 0.3s;
}

.button-icon {
    margin-right: 10px
}


/* Search bar style */
.search-bar {
    background-color: #2C2C2C;
    padding: 8px;
    border-radius: 18px;
    width: 535px;
}

.search-bar input {
    background-color: inherit;
    color: #efefef;
    border: none;
    margin-left: 7px;
    width: calc(100% - 30px);
}

.search-icon {
    color: #7A7A7A;
    transition: color ease-in-out 0.2s;
}

.search-bar:hover .search-icon,
.search-bar:hover input::placeholder {
    color: #efefef;
    transition: color ease-in-out 0.2s;
}