/* Input */
.input-container {
    max-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 16px;
}

.input-icon {
    color: #C7254E;
    opacity: 0.4;
    margin-right: 8px;
}

.input {
    border: none;
    border-bottom: solid 1px #C7254E;
    height: 22px;
    font-size: 16px;
    font-family: inherit;
    width: 100%;
}

input:focus {
    outline: none;
}

/* SelectInput */
.select-container {
    color: #efefef;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}

.select-label {
    font-size: inherit;
    color: #efefef;
    background-color: #2e2e2e;
}

.select {
    appearance: none;
    background-color: #2e2e2e;
    color: #efefef;
    border: none;
    border-bottom: solid 1px #C7254E;
    padding: 6px 8px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
}

.select:focus {
    outline: none;
}
