.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.page-container {
    margin-top: 62px;
    flex: 1;
    padding: 20px;
    background-color: #222222;
    transition: margin-left 0.05s ease;
}

.page-container-small {
    margin-left: 50px;
}

.page-container-large {
    margin-left: 218px;
}

.favorites-container {
    text-align: center;
}

.favorites-title {
    font-size: 63px;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
    text-underline-offset: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}

.watchlater-container {
    text-align: center;
}

.watchlater-title {
    font-size: 63px;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
    text-underline-offset: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}
